@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f3ee;
  --foreground: #001524;
  --lightblue: #219ebc;
  --lightorange: #ffb703;
  --dark1: #12232E;
  --dark2: #172D3B;
  --light1: #FFFFFE;
  --light2: #F0F1F4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1b2a;
    --foreground: #f8f9fa;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}